.infochart {
	position: relative;
	width: 630px;
    font-size: 90%;
    font-family: Verdana,arial,Helvetica,sans-serif;
}

svg .main text {
	font: 11px sans-serif;
}

svg .axis path,
svg .axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

svg .main circle {
	cursor: pointer;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

svg .mainLines {
  stroke-width: 1px;
  stroke: #aaa;
  shape-rendering: crispEdges;
}
