body {
    color: #000000;
    font-family: Verdana,arial,Helvetica,sans-serif;
    font-size: 90%;
    margin: 50px;
}

/*body svg {
    background-color: #FFFFFF;
    margin: 50px;
}*/

.infochart {
	position: relative;
	width: 630px;
}

.pop-up {
	background-color: #fff;
	margin: 50px 50px 50px 145px;
	padding: 10px;
	position: absolute;
	width: 415px;
	-webkit-box-shadow: 4px 4px 2px #999;
	-moz-box-shadow: 4px 4px 2px #999;
	box-shadow: 4px 4px 2px #999;
	opacity: 0;
}

.pop-up h3 {
	margin: 35px 0 0;
}

.pop-up.hidden {
	display: none;
	z-index: -1;
}

/*.pop-up a {
	color: cornflowerblue;
}*/

.closer {
  cursor: pointer;
  z-index:1000;
  color: #000;
  font: bold 20px verdana, sans-serif;
  text-decoration:none;
  float: right;
  margin-top: -5px;
}

.location0 {
	fill: #B01117;
}

.location1 {
	fill: #DD322D;
}

.location2 {
	fill: #F37920;
}

.location3 {
	fill: #B4892D;
}

.location4 {
	fill: #FFC10E;
}

.location5 {
	fill: #859A3B;
}

.location6 {
	fill: #00652E;
}

svg .main text {
	font: 11px sans-serif;
}

svg .mini text, svg .axis text, .laneText {
	font: 9px sans-serif;
}

svg .miniItem0 {
	fill: #EE9996;
	stroke-width: 6;
}

svg .miniItem1 {
	fill: #97C5E5;
	stroke-width: 6;
}

svg .miniItem2 {
	fill: #C2CD9D;
	stroke-width: 6;
}

svg .brush .extent {
	stroke: gray;
	fill: #D5E8F4;
	fill-opacity:  .2;
	shape-rendering: crispEdges;
}

svg .axis path,
svg .axis line {
	fill: none;
	stroke: #aaa;
	shape-rendering: crispEdges;
}

svg .main circle {
	cursor: pointer;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	-ms-transition: all 0.1s;
	-o-transition: all 0.1s;
	transition: all 0.1s;
}

svg .mainLines, svg .miniLines {
  stroke-width: 1px;
  stroke: #aaa;
  shape-rendering: crispEdges;
}
